.navbar {
  background-color: #2a9d8f;
  padding: 20px;
  display: flex;
  gap: 100px;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}
.navbar a:hover {
  color: blue;
}
.navbar a.active {
  color: blue;
}
